USE [master]
GO
/****** Object:  Database [Zugdatenbank]    Script Date: 15.09.2021 16:23:28 ******/
CREATE DATABASE [Zugdatenbank]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Zugdatenbank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Zugdatenbank]
GO
/****** Object:  Table [dbo].[Bahnhoefe]    Script Date: 15.09.2021 16:23:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bahnhoefe](
	[Name] [varchar](50) NOT NULL,
	[Gleise] [int] NULL,
	[LiegtInOrt] [varchar](50) NULL,
	[LiegtInKanton] [varchar](50) NULL,
 CONSTRAINT [PK_Bahnhoefe] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staedte]    Script Date: 15.09.2021 16:23:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staedte](
	[Name] [varchar](50) NOT NULL,
	[Kanton] [varchar](50) NULL,
 CONSTRAINT [PK_Staedte] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Verbindet]    Script Date: 15.09.2021 16:23:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Verbindet](
	[Zug] [int] NOT NULL,
	[Von] [varchar](50) NOT NULL,
	[Nach] [varchar](50) NULL,
	[Ankunft] [time](7) NULL,
	[Abfahrt] [time](7) NULL,
 CONSTRAINT [PK_Verbindet] PRIMARY KEY CLUSTERED 
(
	[Zug] ASC,
	[Von] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zuege]    Script Date: 15.09.2021 16:23:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zuege](
	[ZugNr] [int] NOT NULL,
	[Start] [varchar](50) NULL,
	[Ziel] [varchar](50) NULL,
	[Laenge] [int] NULL,
 CONSTRAINT [PK_Zuege] PRIMARY KEY CLUSTERED 
(
	[ZugNr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bahnhoefe] ([Name], [Gleise], [LiegtInOrt], [LiegtInKanton]) VALUES (N'Baden', 7, N'Baden', N'Aargau')
GO
INSERT [dbo].[Bahnhoefe] ([Name], [Gleise], [LiegtInOrt], [LiegtInKanton]) VALUES (N'Basel Bad', 4, N'Basel', N'Basel Stadt')
GO
INSERT [dbo].[Bahnhoefe] ([Name], [Gleise], [LiegtInOrt], [LiegtInKanton]) VALUES (N'Basel SBB', 17, N'Basel', N'Basel Stadt')
GO
INSERT [dbo].[Staedte] ([Name], [Kanton]) VALUES (N'Baden', N'Aargau')
GO
INSERT [dbo].[Staedte] ([Name], [Kanton]) VALUES (N'Basel', N'Basel Stadt')
GO
INSERT [dbo].[Staedte] ([Name], [Kanton]) VALUES (N'Horw', N'Luzern')
GO
INSERT [dbo].[Verbindet] ([Zug], [Von], [Nach], [Ankunft], [Abfahrt]) VALUES (1, N'Luzern', N'Zug', CAST(N'12:35:00' AS Time), CAST(N'12:12:00' AS Time))
GO
INSERT [dbo].[Verbindet] ([Zug], [Von], [Nach], [Ankunft], [Abfahrt]) VALUES (1, N'Thalwil', N'Zürich HB', CAST(N'13:05:00' AS Time), CAST(N'12:52:00' AS Time))
GO
INSERT [dbo].[Verbindet] ([Zug], [Von], [Nach], [Ankunft], [Abfahrt]) VALUES (1, N'Zug', N'Thalwil', CAST(N'12:50:00' AS Time), CAST(N'12:37:00' AS Time))
GO
INSERT [dbo].[Zuege] ([ZugNr], [Start], [Ziel], [Laenge]) VALUES (1, N'Luzern', N'Zürich HB', 45)
GO
INSERT [dbo].[Zuege] ([ZugNr], [Start], [Ziel], [Laenge]) VALUES (2, N'Zürich HB', N'Luzern', 48)
GO
INSERT [dbo].[Zuege] ([ZugNr], [Start], [Ziel], [Laenge]) VALUES (3, N'Luzern', N'Horw', 25)
GO
ALTER TABLE [dbo].[Verbindet]  WITH CHECK ADD  CONSTRAINT [FK_Verbindet_Bahnhoefe] FOREIGN KEY([Von])
REFERENCES [dbo].[Bahnhoefe] ([Name])
GO
ALTER TABLE [dbo].[Verbindet] CHECK CONSTRAINT [FK_Verbindet_Bahnhoefe]
GO
ALTER TABLE [dbo].[Verbindet]  WITH CHECK ADD  CONSTRAINT [FK_Verbindet_Zuege] FOREIGN KEY([Zug])
REFERENCES [dbo].[Zuege] ([ZugNr])
GO
ALTER TABLE [dbo].[Verbindet] CHECK CONSTRAINT [FK_Verbindet_Zuege]
GO
USE [master]
GO
