USE [master]
GO
/****** Object:  Database [FitnessCenter]    Script Date: 16.09.2021 12:44:42 ******/
CREATE DATABASE [FitnessCenter]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FitnessCenter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FitnessCenter]
GO
/****** Object:  Table [dbo].[Betreuung]    Script Date: 16.09.2021 12:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Betreuung](
	[Kundennummer] [int] NOT NULL,
	[Personalnummer] [int] NOT NULL,
	[Notizen] [varchar](2000) NULL,
	[VonKKBezahlt] [bit] NULL,
 CONSTRAINT [pk_Betreuung] PRIMARY KEY CLUSTERED 
(
	[Kundennummer] ASC,
	[Personalnummer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kunden]    Script Date: 16.09.2021 12:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kunden](
	[Kundennummer] [int] IDENTITY(1,1) NOT NULL,
	[Vorname] [varchar](30) NOT NULL,
	[Nachname] [varchar](30) NOT NULL,
	[Geschlecht] [char](1) NULL,
	[Geburtsdatum] [smalldatetime] NULL,
	[Wohnort] [int] NULL,
	[Krankenkasse] [varchar](50) NULL,
 CONSTRAINT [pk_Kunden] PRIMARY KEY CLUSTERED 
(
	[Kundennummer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mitarbeiter]    Script Date: 16.09.2021 12:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mitarbeiter](
	[Personalnummer] [int] IDENTITY(1,1) NOT NULL,
	[Vorname] [varchar](30) NOT NULL,
	[Nachname] [varchar](30) NOT NULL,
	[Monatslohn] [int] NULL,
 CONSTRAINT [pk_Mitarbeiter] PRIMARY KEY CLUSTERED 
(
	[Personalnummer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orte]    Script Date: 16.09.2021 12:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orte](
	[OrtId] [int] IDENTITY(1,1) NOT NULL,
	[PLZ] [varchar](10) NULL,
	[Ortname] [varchar](50) NOT NULL,
	[Kanton] [char](2) NULL,
 CONSTRAINT [pk_Orte] PRIMARY KEY CLUSTERED 
(
	[OrtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Betreuung] ([Kundennummer], [Personalnummer], [Notizen], [VonKKBezahlt]) VALUES (2, 2, N'Rückentherapie.', 1)
GO
INSERT [dbo].[Betreuung] ([Kundennummer], [Personalnummer], [Notizen], [VonKKBezahlt]) VALUES (2, 3, N'Koordinationsübungen.', 0)
GO
INSERT [dbo].[Betreuung] ([Kundennummer], [Personalnummer], [Notizen], [VonKKBezahlt]) VALUES (3, 1, N'Aufbau von Muskelmasse.', 0)
GO
SET IDENTITY_INSERT [dbo].[Kunden] ON 
GO
INSERT [dbo].[Kunden] ([Kundennummer], [Vorname], [Nachname], [Geschlecht], [Geburtsdatum], [Wohnort], [Krankenkasse]) VALUES (1, N'Beatrix', N'Hugentobler', N'w', CAST(N'1963-03-24T00:00:00' AS SmallDateTime), 1956, N'CSS Versicherung')
GO
INSERT [dbo].[Kunden] ([Kundennummer], [Vorname], [Nachname], [Geschlecht], [Geburtsdatum], [Wohnort], [Krankenkasse]) VALUES (2, N'Viktor', N'Meyer', N'm', CAST(N'1960-12-18T00:00:00' AS SmallDateTime), 1939, N'Group Mutuel')
GO
INSERT [dbo].[Kunden] ([Kundennummer], [Vorname], [Nachname], [Geschlecht], [Geburtsdatum], [Wohnort], [Krankenkasse]) VALUES (3, N'Yanick', N'Merz', N'm', CAST(N'1996-08-03T00:00:00' AS SmallDateTime), 1964, NULL)
GO
SET IDENTITY_INSERT [dbo].[Kunden] OFF
GO
SET IDENTITY_INSERT [dbo].[Mitarbeiter] ON 
GO
INSERT [dbo].[Mitarbeiter] ([Personalnummer], [Vorname], [Nachname], [Monatslohn]) VALUES (1, N'Rafael', N'Szanislo', 5500)
GO
INSERT [dbo].[Mitarbeiter] ([Personalnummer], [Vorname], [Nachname], [Monatslohn]) VALUES (2, N'Jürg', N'Müller', 5200)
GO
INSERT [dbo].[Mitarbeiter] ([Personalnummer], [Vorname], [Nachname], [Monatslohn]) VALUES (3, N'Markus', N'Meister', 4800)
GO
SET IDENTITY_INSERT [dbo].[Mitarbeiter] OFF
GO
SET IDENTITY_INSERT [dbo].[Orte] ON 
GO
INSERT [dbo].[Orte] ([OrtId], [PLZ], [Ortname], [Kanton]) VALUES (1, N'1000', N'Lausanne', N'VD')
GO
INSERT [dbo].[Orte] ([OrtId], [PLZ], [Ortname], [Kanton]) VALUES (2, N'1000', N'Lausanne 25', N'VD')
GO
INSERT [dbo].[Orte] ([OrtId], [PLZ], [Ortname], [Kanton]) VALUES (3, N'1000', N'Lausanne 26', N'VD')
GO
SET IDENTITY_INSERT [dbo].[Orte] OFF
GO
ALTER TABLE [dbo].[Betreuung] ADD  DEFAULT ((0)) FOR [VonKKBezahlt]
GO
ALTER TABLE [dbo].[Betreuung]  WITH CHECK ADD  CONSTRAINT [fk_BetreuungKunden] FOREIGN KEY([Kundennummer])
REFERENCES [dbo].[Kunden] ([Kundennummer])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Betreuung] CHECK CONSTRAINT [fk_BetreuungKunden]
GO
ALTER TABLE [dbo].[Betreuung]  WITH CHECK ADD  CONSTRAINT [fk_BetreuungMitarbeiter] FOREIGN KEY([Personalnummer])
REFERENCES [dbo].[Mitarbeiter] ([Personalnummer])
GO
ALTER TABLE [dbo].[Betreuung] CHECK CONSTRAINT [fk_BetreuungMitarbeiter]
GO
ALTER TABLE [dbo].[Kunden]  WITH CHECK ADD  CONSTRAINT [fk_KundenOrte] FOREIGN KEY([Wohnort])
REFERENCES [dbo].[Orte] ([OrtId])
GO
ALTER TABLE [dbo].[Kunden] CHECK CONSTRAINT [fk_KundenOrte]
GO
USE [master]
GO
